.bookAFlight{
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
}
.collapsible-header{position:relative;}

.fa-rotate-90{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .fa-rotate-270{
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .collapsible{padding: 0px !important;}
  
  .collapsible-body{background-color: #fff;}
  .collapsible-header i{margin-right:0px;}
  
  .timeAndstops , .connectionTime {
    text-align: center;
    color: rgb(253, 78, 78);
    font-size: 0.9vw;
    width:100%;
  }
  .collapsible:hover{opacity:0.9}