.bookAFlight{
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
}
.collapsible-header{position:relative;}

.fa-rotate-90{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .fa-rotate-270{
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .collapsible{padding: 0px !important;
  
    border-right: 4px solid #000 !important;}
  
  .collapsible-body{background-color: #fff;}
  .collapsible-header i{margin-right:0px;}
  
  .timeAndstops , .connectionTime {
    text-align: center;
    color: rgb(253, 78, 78);
    font-size: 0.9vw;
    width:100%;
    text-align: center;
  }
  .collapsible:hover{opacity:0.9}
  .resultsFilter{
    width: 500px;    padding: 1%;
    margin-top: 10px;
    background: #ccc;
    border-radius: 10px;
  }
  
.react-datepicker-popper{
  
  z-index: 11;
}
.collapsible-headerspan {
  margin: 0px 2px;
}
.collapsible-body span {
  margin: 0px 5px;
}