.bookAFlight{
    right: 0;
    top: 0;    padding: 10px;
    margin: 0px;
    position: absolute;
}
.collapsible-header{position:relative;}

.fa-rotate-90{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .fa-rotate-270{
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .collapsible{padding: 1% !important;}
  .dateInfo{
    border: 1px solid #ccc;
    padding: 0px 5px;
    border-bottom: 0px;
    border-top: 0px;
  }
  .collapsible-header i{margin-right:0px;}
  .collapsible-body .col{text-align: center}
  .timeAndstops, .connectionTime {
    text-align: center;
    color: rgb(0, 63, 113);
    font-size: 12px;
    margin-top: 10px;
    width:100%;
    text-align: center;
  }
  .collapsible:hover{opacity:0.9}
  .resultsFilter{
    max-width: 400px;  padding: 1%;
    margin-top: 10px;
    background: #ccc;
    border-radius: 10px;
  }
  
.react-datepicker-popper{
  
  z-index: 11;
}
.collapsible-headerspan {
  margin: 0px 2px;
}
input[type=text]:not(.browser-default) , input[type=number]:not(.browser-default){
  height: 2rem;
}
.budget label{
  font-size:12px;
}
.relative{position:relative}

.budget.input-field>label:not(.label-icon).active{
  -webkit-transform: translateY(-08px) scale(0.8);
  -ms-transform: translateY(-08px) scale(0.8);
  transform: translateY(-8px) scale(0.8);
}
.info .col.s4{text-align: center;}
.otherInfo{
  font-size: 12px;
}

.collapsible-header span{
  margin:0px 3px;
}
.infoBody{
  display: block;
}
@media only screen and (max-width: 640px) {
  .collapsible{
    margin: 1px 0px !important;
  }
  .hideMobile{display:none;}
}


.flightDetails{
  text-align: left;
}
.travelClass{
  text-transform: lowercase;
  display: inline-flex;
}
p .travelClass b:first-letter{
  text-transform: capitalize;
}

.flightDetails p {
  margin-bottom:5px;
}
.direct{color:green; font-weight: bold}

.triangle {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}
.triangle-1 {
  width: 80px;
  height: 80px;
  border-bottom: solid 40px transparent;
  border-left: solid 40px transparent;
  border-right:  solid 40px #4285f4 ;
  border-top:  solid 40px #4285f4 ;
  position: absolute;
  top:0;
  right:0;
}
.triangle span{
  position: absolute;
  top: -19px;
  left: -24px;
  color: #fff;
  transform: rotate(45deg);
}
.flightWrapper{
  position:relative;
}

.modal-body{padding:0 !important;}
hr{margin:0 !important;padding:0 !important;}
.companyLogo{padding: 10px;
  margin-bottom: 0;}

.sidenavWrapper{
  width: 20%;
  height: 50vh;
  top: 6%;
  left: 2%;
  background: rgba(204, 204, 204, 0.51);
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0), 0 0px 10px 0;
  position: fixed;
}