h1{font-size:70px;}
input{color:#000;}
.searchBox{
padding: 1%;
position: relative;
margin: 3% auto;
background: rgba(204, 204, 204, 0.52);
border-radius: 10px;
margin-top: 3%;
}
.logo {
    margin: 0 auto;
    display: block;
    width: 200px;
}
.input-field label.autocomplete-input{color:#000;}
#currency{position: relative;
    width: 100px;
    margin: 0 auto;}

    #currency_code{position: absolute; top:39px !important;}
    .autocomplete-content{
        position: absolute;
    top: 66px !important;
    }
    .caret{left: 0}
    .input-field input ,  .input-field label{color:#000;}
    .select-wrapper input.select-dropdown{
        text-align: center;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #000;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #000;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #000;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #000;
      }
  .searchBox .s1 .material-icons{
margin-top: 15px;
}
.table-bordered{
background: #ccccccad;
}
.hidden{display:none}

@media only screen and (max-width: 640px) {
    .Search .container{
        width: 100%;
    }
  }
  

  .searchBox .currency{    max-width: 20% !important;}