
ul{
    list-style-type: none;
}
body {
    height: 100%;
}
:focus{
    outline:0 !important;
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    border-radius: 4px; 
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ccc; 
}

.App {
    text-align: center;
    height:100vh;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}
input{color:#000;
  border-bottom: 1px solid #fff !important;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-color: transparent;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}
.wrapper {
    width: 50%;
    margin: 0 auto;
}

.brand-logo img {
    width: 60px;
}
.dropdown-content li>a, .dropdown-content li>span{text-align: center}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.custom-select{
    
    width: 100%; background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-color: transparent;
    color: #000;
    border: 0;
    outline: 0;
}
.custom-select option {
    background-color: rgba(204, 204, 204, 0.52);
    opacity: 0.5;
}
    .react-autosuggest__input {
    position: relative;
}
.custom-select:focus{outline:0; box-shadow:none;}
#react-autowhatever-1 {
    background: #fff;
    color: #2b72aa;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 99;
    max-height: 300px;
    overflow-y: scroll;
}
.autocomplete > div > div{z-index: 9999;cursor: pointer;}
.react-datepicker-wrapper ,.react-datepicker__input-container , .react-datepicker__input-container input{
    width:100%; float:left;
}
.collapsible{
    background: rgba(255, 255, 255, 0.90);
    margin: 1% 0% 0% 0% !important;
    cursor: pointer;
}
#budget{
    float:left;
}
ul:not(.browser-default){    margin: 0px;}
.react-autosuggest__suggestions-list li {
    border-bottom: 1px solid #ccc;
}
.react-autosuggest__suggestions-list li:hover {
    opacity: 0.8;
}
/*spinner*/.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

input[type=number]:not(.browser-default),
input[type=text]:not(.browser-default),
select {
    color: #fff;
    border-bottom: 1px solid #fff;
}
.select-wrapper input.select-dropdown:focus{
  
  border-bottom: 1px solid #00ff37;
}
#react-autowhatever-1{position: absolute;}
.react-autosuggest__container{position: relative;}
input.valid{
  
  border-bottom: 1px solid #00ff37 !important;
}
.input-field{margin:0px;}
label , .col.input-field label{color:#fff;}
@media only screen and (max-width: 640px) {
    .wrapper {
        width: 95%;
    }
    .stamp{
        top:0;
    right: 0;
    }
    .fa-rotate-90{display:none;}

}

@media only screen and (max-width: 1024px) {
    .wrapper, .row{width:100%;}
    
  }
  
.submit button{
    float:right;
}
.custom-control-input{
    z-index: 7;
    width: 100px;
    height: 24px;
    left: 0;
    right: 0;
}
.video-intro{
    position:fixed;   top:0px; left: 0;
    right: 0;
    z-index: -1;
}
.navBarHeader{
    z-index:1;
}
.navbar{    margin-top: 0px !important;
    background: rgba(204, 204, 204, 0.52);
    display: block;
    width: 100%;
    height: 63px;}
.brand-logo{
    float: left;    background: transparent;
    outline: 0;
    border: 0;
}
.infoTab{
    float: right;
}
.navbar-nav{
    float: right;
    display:block;
}
.nav-item{
    float: right;
    padding: 8px 10px;   
}
.fab{
    color: #fff;
    font-size: 30px;
}
.row{
    margin: 0 auto;
}
.searchBox{
    display: block;
    width: 600px;
    background: rgba(204, 204, 204, 0.74);
}
.iataCode{
    
    padding: 0px 0px 7px;
}
.priceAbs{
    position: absolute;
    right: 0;
    top: 0;
}
.stamp {
    background:url(content/images/stamp.png) no-repeat; 
    position: absolute;
    top: 133px;
    right: -54px;
    width: 100px;
    height: 100px;
  }
  span.price {
    margin-top: 25px;
    display: block;
}
.collapsible-header hr{margin:0px;}
.infoBody{padding:1%;}